<div class="<%= colWithImg %>">
    <% recommendProduct.forEach(function(item,index){ %>
        <div class="<%= itemClass %>" >
            <article class="product__card">
                <a href="" class="product__card--img">
                    <img loading="lazy" src=<%=item.img %> alt="">
                </a>
                <div class="product__card--favbtn">
                    <img src="./assets/img/heart-outline.svg" alt="">
                </div>
                <h3 class="product__card--title">
                    <%= item.title %>
                </h3>
                <p class="product__card--price"><%- item.price %></p>
                <a href="./product-detail" type="button" onclick="" class="product__card--btn">
                    <img src="<%- item.btnIcon %>" alt="" class="test-svg-cart">
                    <%= item.btnText %>
                </a>
            </article>
        </div>
    <% }) %>
</div>