<!-- Split banner -->
<div class=<%= bannerClass %>>
    <div class="row">
        <% if (pic1Text != "") { %>
            <div class="col-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 g-3">
                <div class="split__banner--item item--flip">
                    <div class="split__banner--container">
                        <div class="split__banner--content">
                            <h2 class="split__banner--title"><%= pic1Text.title %></h2>
                            <button class="split__banner--btn">
                                View all
                                <img src="./assets/img/ic_round-arrow-foward.svg" alt="">
                            </button>
                        </div>
                        <img class="split__banner--img" src=<%=pic1 %>
                        alt="">
                    </div>
                    <img class="banner__background" src=<%=bg1 %>
                    alt="">
                </div>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 g-3
            <% if (!isShownPic2) { %>
             d-sm-none
            <% } %>
            ">
                <div class="split__banner--item">
                    <div class="split__banner--container">
                        <div class="split__banner--content">
                            <h2 class="split__banner--title">
                                <%= pic2Text.title %>
                            </h2>
                            <button class="split__banner--btn">
                                View all
                                <img src="./assets/img/ic_round-arrow-foward.svg" alt="">
                            </button>
                        </div>
                        <img class="split__banner--img" src=<%=pic2 %>
                        alt="">
                    </div>
                    <img class="banner__background" src=<%=bg2 %>
                    alt="">
                </div>
            </div>
        
        <% } else{ %>
            <div class="col-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 g-3">
                <div class="split__banner--item item--flip">
                    <img class="banner__item" src=<%=pic1 %>
                    alt="">
                    <img class="banner__background" src=<%=bg1 %>
                    alt="">
                </div>
            </div>
            <div class="col-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 g-3">
                <div class="split__banner--item">
                    <img class="banner__item" src=<%=pic2 %>
                    alt="">
                    <img class="banner__background" src=<%=bg2 %>
                    alt="">
                </div>
            </div>    
        <% } %>
         
    </div>
</div>